<img src="https://miro.medium.com/max/481/1*n_ms1q5YoHAQXXUIfeADKQ.png" alt="350" width="400" align="left"/>

# Basi PANDAS

# <mark>Cos'è Pandas?</mark>

<ul>

<li>Pandas è una libreria Python utilizzata per lavorare con set di dati.</li>

<li>Ha funzioni per analizzare, pulire, esplorare e manipolare i dati.</li>

<li>Il nome "Pandas" fa riferimento sia a "Panel Data" che a "Python Data Analysis" ed è stato creato da Wes McKinney nel 2008.</li>
</ul>

# Perché usare Pandas?

<ul>

<li>Pandas ci consente di analizzare big data e trarre conclusioni basate su teorie statistiche.</li>

<li>I Panda possono ripulire set di dati disordinati e renderli leggibili e pertinenti.</li>

<li>I dati rilevanti sono molto importanti nella scienza dei dati.</li>
</ul>

<img src="https://media.geeksforgeeks.org/wp-content/uploads/finallpandas.png" alt="500" width="550" align="left"/>

<img src="https://storage.googleapis.com/lds-media/images/series-and-dataframe.width-1200.png" alt="500" width="550" align="left"/>

<img src="https://miro.medium.com/max/1200/1*eE8DP4biqtaIK3aIy1S2zA.png" alt="500" width="650" align="left"/>

<h1>Cos'è una serie?</h1>
Una serie Panda è come una colonna in una tabella.

È un array unidimensionale che contiene dati di qualsiasi tipo.

In [ ]:
import pandas as pd

a = [1, 7, 2]

myvar = pd.Series(a)

print(myvar)

<h1>Etichette</h1>
Se non viene specificato altro, i valori vengono etichettati con il relativo numero di indice. Il primo valore ha indice 0, il secondo valore ha indice 1 ecc.

Questa etichetta può essere utilizzata per accedere a un valore specificato.

In [ ]:
print(myvar[0])

<h1>Crea etichette</h1>
Con l' index argomento puoi nominare le tue etichette.

In [ ]:
a = [1, 7, 2]
etichette = ["x", "y", "z"]

myvar = pd.Series(a, index = etichette)

print(myvar)

In [ ]:
#Dopo aver creato le etichette, puoi accedere a un elemento facendo riferimento all'etichetta.

In [ ]:
print(myvar["y"])

<h1>Cos'è un DataFrame?</h1>
Un Pandas DataFrame è una struttura dati bidimensionale, come un array bidimensionale o una tabella con righe e colonne.

In [ ]:
data = {
  "calories": [420, 380, 390],
  "duration": [50, 40, 45]
}
labels = ['lun', 'mar', 'mer']
#load data into a DataFrame object:
df = pd.DataFrame(data, labels)

print(df)

<h1>Individua riga</h1>
Come puoi vedere dal risultato sopra, DataFrame è come una tabella con righe e colonne.

I pandas utilizzano loc attributo per restituire una o più righe specificate

In [ ]:
#refer to the row index:
print(df.loc['mer'])
print(df.iloc[0])

## <mark>loc / Iloc</mark>:

## Selezione tramite un singolo valore

<ul>Sia loc che iloc consentono all'input di essere un singolo valore. Possiamo usare la seguente sintassi per la selezione dei dati: <br><br>
    
<li>loc[row_label, column_label]</li>
<li>iloc[row_position, column_position]</li>
</ul>

<img src="https://miro.medium.com/max/1050/1*CgAWzayEQY8PQuMpRkSGfQ.png" alt="500" width="650" align="left"/>

In [ ]:
data = {
  "calories": [420, 380, 390,1,2,3,4,5,6,7,8,9,10],
  "duration": [50, 40, 45,1,2,3,4,5,6,7,8,9,10]
}

#load data into a DataFrame object:
df = pd.DataFrame(data)
df.head(2)

In [ ]:
df.iloc[0, :] #row selection by index [0,:] ":" è implicito

In [ ]:
df.iloc[0:4]

In [ ]:
df.iloc[:, 0] #[row, col] -> column selection by index FIRST COLUMN, ALL ROWS

In [ ]:
df.loc[0, 'Name'] #First row, COLUMN= 'Name'

In [ ]:
df.loc[:,'Name'] #ALL ROWS, COLUMN= 'Name'

<h1>Indici nominali</h1>
Con l' index argomento puoi nominare i tuoi indici.

In [ ]:
data = {
  "calories": [420, 380, 390],
  "duration": [50, 40, 45]
}

df = pd.DataFrame(data, index = ["day1", "day2", "day3"])

print(df)

### ESEMPIO: <mark>ETICHETTA COME INDICE PRINCIPALE</mark>
<img src="https://miro.medium.com/max/867/1*10_I9N1oqs8cNYVhTALS3w.png" alt="500" width="400" align="left"/>

<h1>Individuare gli indici denominati</h1>
Utilizzare l'indice denominato nell'attributo loc per restituire le righe specificate.

In [ ]:
#refer to the named index:
print(df.loc["day2"])

<h1>Carica file in un DataFrame</h1>
Se i tuoi set di dati sono archiviati in un file, Panda può caricarli in un DataFrame.

In [ ]:
import pandas as pd

df = pd.read_csv('data.csv')

print(df)

#si può fare la stessa cosa con gli exel con il metodo .read_excel

<h1>Come salvare i dataframe Pandas</h1>
Il metodo .to_csv() è una funzione integrata in Pandas che consente di salvare un DataFrame Pandas come file CSV.

La sintassi per l'utilizzo è la seguente:

<h2>DataFrame.to_csv(filename, sep=',', index=False, encoding='utf-8')</h2>

In [27]:
# Create a sample dataframe
Biodata = {'Name': ['John', 'Emily', 'Mike', 'Lisa'],
        'Age': [28, 23, 35, 31],
        'Gender': ['M', 'F', 'M', 'F']
        }
df = pd.DataFrame(Biodata)

# Save the dataframe to a CSV file
df.to_csv('Biodata.csv', index=False)
#si può fare la stessa cosa con gli exel con il metodo .to_excel

## Metodo .apply()

Pandas.apply() consente agli utenti di passare una funzione e applicarla su ogni singolo valore della serie Pandas. Si tratta di un metodo utilissimo poiché questa funzione aiuta a separare i dati in base alle condizioni richieste, grazie alle quali vengono utilizzati in modo efficiente nella scienza dei dati e nell'apprendimento automatico.

In [ ]:
import pandas as pd
# Create a sample dataframe
Biodata = {'Name': ['John', 'Emily', 'Mike', 'Lisa'],
        'Age': [28, 23, 17, 31],
        'Gender': ['M', 'F', 'M', 'F']
        }
df = pd.DataFrame(Biodata)

# Create function
def verify_adult(num):
    if num<18:
        return "Underage"
    else:
        return "Adult"

# passing function to apply e create new column
df['Adult'] = df['Age'].apply(verify_adult)


df

In questo modo abbiamo creato una nuova colonna che contiene i dati di age rielaborati dalla funzione di verifica.

# Funzioni lambda
E’ uno di quei concetti che crea confusione e che può risultare però utile in molti contesti, come per esempio nel caso in cui vogliamo applicare una funzione a un DataFrame Pandas.

## Cos’è una Lambda Function in Python
Una Lambda Function è una funzione anonima, ovvero una funzione a cui non è stato assegnato un nome e che serve per utilizzare le caratteristiche delle funzioni senza però doverle definire.

Sì, avete capito bene: possiamo utilizzare una funzione senza definirla.

## Differenza tra funzioni normali e Lambda

In [ ]:
#funzione normale
def quadrato(x):
    return x * x

#funzione lambda
quadrato_lambda = lambda x : x * x
                 #lambda argomento: espressione

#Per esegurle si richiamano allo stesso modo
quadrato(5)
quadrato_lambda(5)

"""
Abbiamo però un metodo ancora più compatto per utilizzare 
funzione lambda
"""
(lambda x : x * x)(5)

Quest'ultimo caso è il caso tipico per cui è stato creato questo costrutto.

Lambda infatti non è il nome della funzione, è una keyword di Python, noi infatti con lambda usiamo una funzione senza assegnarli un nome, quindi quando ci serve una funzione temporanea che non riutilizzeremo.

L’argomento è sempre x, come nel caso della funzione che abbiamo definito nel metodo tradizionale, ma in questo caso sta dopo “lambda” e alla sinistra dei due punti (:). Qualora ci fossero stati più argomenti, andavano tutti dopo “lambda” alla sinistra dei due punti separati da virgole.

Solitamente con le funzioni tradizionali abbiamo un return, ovvero il valore che la nostra funzione dovrà restituirci. Nel caso delle lambda invece, ciò che ci verrà ritornato sta alla destra dei due punti.

## Perché utilizzare le Lambda Function

1) Primo esempio di utilizzo in cui sono molto utili è la definizione di una funzione all'interno di un'altra funzione:

In [30]:
def myfunz(n):
    return lambda a : a * n

# Definisco funzione raddoppia
raddoppia = myfunz(2)

# Definisco funzione triplica
triplica = myfunz(3)

Quando utilizzo la funzione raddoppia python considera n=2, quindi se la richiamo:

In [ ]:
print(raddoppia(5))

Quando utilizzo la funzione triplica, python considera n=3, quindi se la richiamo:

In [ ]:
print(triplica(5))

Naturalmente una funzione lambda può accettare anche più di un parametro:

In [ ]:
#definizione funzione
z = lambda x,y : x*y + 1

print(z(2,3))

2) Secondo caso d'uso in cui le lambda ci semplificano la vita è appunto quando ci serve una funzione temporanea, può capitare questa cosa in pandas?

Pensate all'esempio visto in precedenza con .apply(), con le lambda potremmo riprodurlo così:

In [ ]:
import pandas as pd

# Create a sample dataframe
Biodata = {'Name': ['John', 'Emily', 'Mike', 'Lisa'],
        'Age': [28, 23, 17, 31],
        'Gender': ['M', 'F', 'M', 'F']
        }
df = pd.DataFrame(Biodata)

# pass function to apply e create new column
df['Adult'] = df['Age'].apply(lambda x : "Underage" if x <18 else "Adult")

print(df)

Meno codice scritto e in questo modo creare una nuova colonna con .apply() diventa ancora più semplice, a maggior ragione sapendo che quella funzione specifica non ci riservirà più nel nostro codice.

## Quando non sono utili le lambda

L’utilizzo delle lambda functions in Python non è sempre la scelta giusta da compiere, vediamo i motivi:

- Può compiere una sola espressione, non è possibile inserire operazioni multiple in una funzione di questo tipo.

- Non è possibile inserire al suo interno dei commenti che possono agevolarne la comprensione.

- Anche se possono essere utilizzate come le funzione normali, come detto il loro caso d'uso ottimale è quando ci serve una funzione temporanea che non riutilizzeremo.

## <mark>Esercizio1</mark>
<h4>Create un DataFrame sulla base di un elenco di almeno 10 clienti forniti dall'utente tramite input e salvatelo in formato csv.
Per ogni cliente verranno forniti:</h4>
<ul>
<li>Numero Cliente, Nome, Cognome, Data di Nascita, Regione di Residenza.</li>
<ul>

In [2]:
import pandas as pd

cliente = {'Numero Cliente':[0,1,2,3,4]
           , 'Nome':['Aldo', 'Giovanni', 'Giacomo', 'Giuseppe', 'Alessandro'], 
           'Cognome':['Baglio', 'Storti', 'Poretti', 'Rossi', 'Verdi'], 
           'Data di Nascita':['10/05/1999', '05/03/1945', '17/06/1989', '15/03/2018', '12/01/2021'],
            'Regione di Residenza':['ER', 'CAL', 'CAM', 'TRE', 'LOM']}
'''
for index in range(10):
    for key in cliente:
        value = input(f'Inserisci {key} ')
        cliente[key].append(value)
'''
data_frame = pd.DataFrame(cliente)
data_frame.to_csv('client.csv', index=False)

## <mark>Esercizio2</mark>
<h4>Partendo dal dataframe creato nell'esercizio precedente, aggiungete 3 colonne:</h4>
<ul>
<li>La prima contiene una X in corrispondenza dei clienti minorenni;</li>
<li>La seconda contiene una X in corrispondenza dei clienti con età maggiore di 17 anni;</li>
<li>La terza contiene una X in corrispondenza dei clienti con età maggiore di 20 anni.</li>
<ul>

In [9]:
import datetime
import pandas as pd

clienti = pd.read_csv('client.csv')

def calcolo_anni(date): #date è una stringa 'dd/mm/yyyy'
    today = datetime.datetime.now()
    day = datetime.datetime.strptime(date, '%d/%m/%Y')
    years = today.year-day.year
    return years

clienti['Minorenne'] = clienti['Data di Nascita'].apply(lambda x : 'X' if calcolo_anni(x) < 18 else '')
clienti['> 17 anni'] = clienti['Data di Nascita'].apply(lambda x : 'X' if calcolo_anni(x) > 17 else '')
clienti['> 20 anni'] = clienti['Data di Nascita'].apply(lambda x : 'X' if calcolo_anni(x) > 20 else '')
print(clienti)
clienti.to_csv('client.csv', index=False)

TypeError: '<' not supported between instances of 'datetime.timedelta' and 'int'

## <mark>Esercizio3</mark>
<h4>Create un programma per la gestione di un'azienda che usa alcuni database csv creati con pandas, l'utente dovrà poter leggere, aggiungere, aggiornare e modificare i dati inseriti. I csv conterranno i seguenti dati:</h4>
<ul>
<li>Clienti (NumeroCliente, Nome, Cognome, DataNascita, RegioneResidenza);</li>

<li>Fatture (NumeroFattura, Tipologia, Importo, Iva, IdCliente, DataFattura, NumeroFornitore);</li>

<ul>
<h4></h4>

In [7]:
import pandas as pd

def open_database(file):
    database = pd.read_csv(file)
    return database

try:
    file_clienti = open('client.csv', 'r')
    print('File clienti aperto in lettura')
except:
    file_clienti = open('client.csv', 'x')
    print('Creazione file clienti')
try:
    file_fatture = open('fatture.csv', 'r')
    print('File fatture aperto in lettura')
except:
    file_fatture = open('fatture.csv', 'x')
    file_fatture.close()
    fatture = {'NumeroFattura':[],
               'Tipologia':[],
               'Importo':[],
               'Iva':[],
               'IDcliente':[],
               'DataFattura':[],
               'NUmeroFornitore':[]}
    dataframe = pd.DataFrame(fatture)
    dataframe.to_csv('fatture.csv', index = False)
    print('Creazione file fatture')


clienti = open_database(file_clienti)
fatture = open_database(file_fatture)
print(clienti)
print(fatture)

File clienti aperto in lettura
File fatture aperto in lettura
   Numero Cliente        Nome  Cognome Data di Nascita Regione di Residenza  \
0               0        Aldo   Baglio      10/05/1999                   ER
1               1    Giovanni   Storti      05/03/1945                  CAL
2               2     Giacomo  Poretti      17/06/1989                  CAM
3               3    Giuseppe    Rossi      15/03/2018                  TRE
4               4  Alessandro    Verdi      12/01/2021                  LOM

  Minorenne > 17 anni > 20 anni
0       NaN         X         X
1       NaN         X         X
2       NaN         X         X
3         X       NaN       NaN
4         X       NaN       NaN
Empty DataFrame
Columns: [NumeroFattura, Tipologia, Importo, Iva, IDcliente, DataFattura, NUmeroFornitore]
Index: []

<h1>Pandas con esempio pratico DATASET Titanic</h1>

In [ ]:
import numpy as np
import pandas as pd #Load Pandas library

In [ ]:
#https://www.kaggle.com/c/titanic/data
#Load Dataset (read_csv(), function):

df = pd.read_csv('titanic/train.csv')

df

In [ ]:
df.shape #attribute shape (nrows, ncolumns)

**head() / tail()  :**

head() : Return the first n rows. (5 by default)

tail(): Return the last n rows. (5 by default)

In [ ]:
df.head() #first 5 rows by DEFAULT

In [ ]:
df.tail() #last 5 rows bt DEFAULT

In [ ]:
df['Survived'] #Series

In [ ]:
#Return a Series containing counts of unique values.

#The resulting object will be in descending order.

df['Survived'].value_counts()

In [ ]:
df[['Name', 'Survived']] #Df Subset

**describe():**
    
Generare statistiche descrittive.

Le statistiche descrittive includono quelle che riassumono la tendenza centrale,
dispersione e forma della distribuzione di un set di dati, esclusi i valori NaN.

In [ ]:
df.describe()

In [ ]:
df.dtypes #attribute dtypes: Return the dtypes in the DataFrame.

In [ ]:
df.isnull() #Detect missing values.

In [ ]:
df.isnull().sum() #Sum null values

Sembra che l'informazione "Cabina" manchi in 687 righe. Abbastanza normale considerando che le persone in 3a classe ("Pclass") non ne avevano una!

❓ Utilizza la funzione [`pandas.DataFrame.drop`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.drop.html) per eliminare la `Cabin` in "titanic_df".

In [ ]:
df.drop('Cabin', axis=1, inplace=True)

In [ ]:
df.head()

In [ ]:
#Other methods: 

#df= df.drop('Cabin', axis=1) 

#Drop more columns:
    
#df.drop(columns= [col1, col2], axis=1, inplace=True)

In [ ]:
df= df.drop(columns=['Ticket', 'Embarked'], axis=1) #we also remove these 2 columns because we don't need them for now

In [ ]:
df.head()

**Correlation:**

In [ ]:
df.corr()

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns

corr = df.corr()

fig, ax = plt.subplots(figsize=(16, 6))

sns.heatmap(
    corr, 
    vmin=-1, vmax=1, center=0, annot=True,
    cmap=sns.diverging_palette(20, 220, n=200),
    square=True
)

## <mark>Esercizio1</mark>
<h4>Partendo da questo dataframe su kaggle https://www.kaggle.com/datasets/vikrishnan/boston-house-prices analizzate i dati, sistemate gli elementi mancanti e verificate se ci sono correlazioni e create un grafico a mappa di calore.</h4>

## <mark>Esercizio2</mark>
<h4>Partendo da questo dataframe su kaggle https://www.kaggle.com/datasets/shivamb/netflix-shows  analizzate i dati, sistemate gli elementi mancanti e verificate se ci sono correlazioni e create un grafico a mappa di calore.</h4>

## <mark>GROUPBY()</mark>

Un'operazione groupby implica una combinazione di suddivisione dell'oggetto, applicazione di una funzione e combinazione dei risultati.

**Questo può essere utilizzato per raggruppare grandi quantità di dati e operazioni di calcolo su questi gruppi.**

<img src="https://www.datasciencemadesimple.com/wp-content/uploads/2020/05/Generic-Groupby-mean-1.png" alt="500" width="850" align="left"/>

## Analisi delle classi

Diamo un'occhiata alla divisione dei biglietti.

❓ Utilizzando un `groupby()`, crea un dataframe `pclass_df` contando il numero di biglietti venduti per classe (1, 2 o 3)

In [ ]:
df.head()

In [ ]:
#Quanti biglietti venduti per ogni classe?

pclass_df = df.groupby("Pclass").count()["PassengerId"].to_frame(name="Biglietti venduti")
pclass_df

Guardare il numero non è molto visivo, proviamo a dare un senso ai dati con un grafico.

❓ Traccia il dataframe `pclass_df` creato nella domanda precedente come un grafico a barre

**Pandas plot(): Make plots of Series or DataFrame.**

In [ ]:
pclass_df.plot(kind="bar")

Diamo ora un'occhiata ai **sopravvissuti**.

❓ Traccia un grafico a barre della *frequenza di sopravvivenza* per classe. "0" significa che nessuno è sopravvissuto nella classe, "1" significa che tutti sono sopravvissuti.

In [ ]:
#Quanti sopravvissuti per ogni classe?

df_survived= df[["Pclass","Survived"]].groupby('Pclass').mean()
df_survived

In [ ]:
#reset_index():

#Questa funzione reimposta e fornisce il nuovo indice ai frame di dati raggruppati per e li rende una struttura di frame di dati adeguata.

df_survived_2= df[["Pclass","Survived"]].groupby('Pclass').mean().reset_index()
df_survived_2

In [ ]:
df_survived.plot(kind='bar')

## Analisi di genere

Diamo un'occhiata alla colonna "Sesso".

❓ Traccia un grafico a barre della frequenza di sopravvivenza di ciascun genere. Chi è sopravvissuto di più?

In [ ]:
df[['Survived', 'Sex']].groupby('Sex').mean().plot(kind='bar')

Costruiamo un istogramma più elaborato in cui mostriamo il numero totale di passeggeri + il numero totale di sopravvissuti (per ciascun sesso).

❓ Crea un DataFrame `survivors_df` con due colonne: `Total` e `Survived` e due righe ("male` e `female`). Traccialo.

In [ ]:
survivors_df = df[['Survived', 'Sex']].groupby('Sex').sum() #SUM VALUES: 0 (NOT SURVIVED) , 1 (SURVIVED)
survivors_df['Total'] = df[['Survived', 'Sex']].groupby('Sex').count() #COUNT TOTAL NUMBER OF PEOPLE PER CLASS (MALE,FEMALE)
survivors_df.plot(kind='bar')

In [ ]:
survivors_df['%']= (survivors_df['Survived']*100)/survivors_df['Total']
survivors_df

## <mark>Esercizio1</mark>
<h4>Partendo dallo stesso Dataframe sulle case scaricato in precedenza, calcolate la media dei prezzi delle case raggruppati per zona e realizzate grafici esplicativi.</h4>

## <mark>Esercizio2</mark>
<h4>Partendo dallo stesso Dataframe Netflix scaricato in precedenza, calcolate la media della lunghezza dei prodotti ragguppati per serie e film e realizzate grafici esplicativi.</h4>

## Bambini

La prima analisi non teneva conto dell’età. Vogliamo distinguere tra un bambino e un adulto e vedere come vengono influenzati i tassi di sopravvivenza.

❓ Utilizza l'indicizzazione booleana per creare un `children_df` contenente solo righe di passeggeri bambini

In [ ]:
children_df = df[df['Age'] <= 17] #BOOLEAN INDEXING
children_df.head()

❓Quanti bambini c'erano nel Titanic?

In [ ]:
total_children= children_df.shape[0] #number of rows
total_children

❓Quanti bambini sono sopravvissuti?

In [ ]:
children_survived= children_df['Survived'].sum()
children_survived

❓ Traccia un grafico a barre dei sopravvissuti/totale per ciascuna categoria: "maschio", "femmina", "bambini". Tieni presente che devi **sottrarre** i ragazzi dalle statistiche "maschili" e le ragazze da quelle "femminili".

In [ ]:
adults_df= df[df['Age'] > 17]
adults_df= adults_df.rename(columns={'Sex': 'People'})

survivors_df = adults_df[['Survived', 'People']].groupby('People').sum() #SUM VALUES: 0 (NOT SURVIVED) , 1 (SURVIVED)
survivors_df['Total'] = adults_df[['Survived', 'People']].groupby('People').count() #COUNT TOTAL NUMBER OF PEOPLE PER CLASS (MALE,FEMALE)
survivors_df['%']= (survivors_df['Survived']*100)/survivors_df['Total']
survivors_df

In [ ]:
#aggiungi colonna e valori dei dati Children a survival_df

survivors_df.loc['children'] = [children_survived, total_children, (children_survived*100)/total_children ] 
survivors_df

In [ ]:
survivors_df[['Survived', 'Total']].plot(kind='bar')

## Famiglie numerose:

❓ Scoprire se per le famiglie più numerose è stato più difficile sopravvivere?
  
Qui crei una nuova colonna nel tuo `DataFrame` per la dimensione della famiglia del passeggero.

In [ ]:
df['family_size'] = 1 + df['SibSp'] + df['Parch']
df.groupby('family_size').mean()['Survived'].plot(kind='bar');

## Titoli illustri

❓ Durante l'evacuazione sono stati preferiti i passeggeri con titoli illustri?
   
Con qualche manipolazione delle stringhe, crea una nuova colonna per ogni utente con il suo titolo

In [ ]:
df.head()

In [ ]:
#split(): divide una stringa in un elenco in cui ogni parola è un elemento dell'elenco
#strip(): rimuove gli spazi all'inizio e alla fine della stringa:

df['Title'] = df['Name'].apply(lambda x: x.split(',')[1].split('.')[0].strip())
df

In [ ]:
#logy= Use log scaling or symlog scaling on y axis. 

#Contiamo quante persone per "Title":

df.groupby('Title').count()['PassengerId'].sort_values().plot(kind='bar', logy=True)

In [ ]:
#Quanti sopravvissuti per "Title":

#1) Countess:Contessa
#2) Mlle: Signorina
#3)Lady: Signora
#4)Ms: Non sposata
#5)Sir: Signore
#.....

df.groupby('Title').mean()['Survived'].sort_values().plot(kind='bar')

In [ ]:
df.groupby('Title').count()[['PassengerId']]

## <mark>Esercizio1</mark>
<h4>Partendo dal Dataframe delle Case scaricato in precedenza eseguite le seguenti analisi:</h4>

- Concentrati sulle analisi temporali:
    - Analizza come il prezzo di vendita delle case è cambiato nel tempo.
    - Visualizza l'andamento temporale del prezzo di vendita utilizzando un grafico a linee.
    - Esamina se ci sono correlazioni tra variabili temporali (ad esempio, anno di costruzione, anno di ristrutturazione, ecc.) e il prezzo di vendita.

- Esplorazione delle relazioni tra categorie e prezzo di vendita:

    - Esamina come il prezzo di vendita varia in base alle variabili categoriche come il tipo di strada, la forma del terreno, ecc.

- Esplorazione delle caratteristiche di vendita:

    - Analizza le caratteristiche di vendita (tempo di vendita, metodo di vendita, ecc.) e determina se influenzano il prezzo di vendita.

- Analisi delle caratteristiche di località:

    - Esplora le caratteristiche di località (quartiere, vicinato, ecc.) e analizza come influenzano il prezzo di vendita.

## <mark>Esercizio2</mark>
<h4>Partendo dal Dataframe Netflix scaricato in precedenza eseguite le seguenti analisi:</h4>

- Analisi delle categorie di contenuto:

    - Determina quali sono le categorie più popolari di film e spettacoli televisivi su Netflix.
    - Calcola la distribuzione delle categorie di contenuto e visualizzale graficamente utilizzando un grafico a barre o un grafico a torta.

- Esplorazione delle valutazioni:

    - Analizza la distribuzione delle valutazioni dei film e degli spettacoli televisivi su Netflix.
    - Visualizza la distribuzione delle valutazioni utilizzando un istogramma.

- Correlazioni tra variabili:

    - Esamina se esiste una correlazione tra il paese di produzione e il genere del contenuto su Netflix.
    - Calcola la correlazione tra la valutazione e l'anno di pubblicazione dei contenuti.

- Analisi temporale:

    - Esplora le tendenze temporali dei contenuti su Netflix in base all'anno di pubblicazione.
    - Visualizza l'andamento nel tempo del numero di contenuti pubblicati su Netflix utilizzando un grafico a linee.

- Analisi della durata dei film e degli spettacoli televisivi:

    - Calcola la durata media dei film e degli spettacoli televisivi su Netflix.
    - Confronta la durata media dei film e degli spettacoli televisivi tra le diverse categorie di contenuto.

- Analisi delle distribuzioni geografiche:

    -  Esamina la distribuzione geografica dei contenuti su Netflix in base al paese di produzione.
    - Visualizza la distribuzione geografica utilizzando una mappa o un grafico a barre.

- Esplorazione delle serie TV:

    - Analizza la distribuzione delle serie TV rispetto ai film su Netflix.
    - Calcola la durata media delle serie TV e dei film e confrontali.

In [1]:
import pandas as pd
from random import choice

list_country = ["Stati Uniti d'America",
"Cina","India","Brasile","Russia","Giappone",
"Germania","Regno Unito","Francia","Italia"]

list_genere = ["Azione","Commedia",
"Drammatico","Horror","Fantascienza",
"Avventura","Romantico","Thriller",
"Animazione", "Documentario"]

colonna_country = []
colonna_genere = []

for element in range(1000):
    colonna_country.append(choice(list_country))
    colonna_genere.append(choice(list_genere))

colonna_genere[-1] = "Azione"

In [2]:
i = 0
list_fr = []
list_br = []

for element in colonna_country:
    if element == "Francia":
        list_fr.append(i)
    elif element == "Brasile":
        list_fr.append(i)
    i +=1



list_genere = ["Azione",
"Drammatico","Horror","Fantascienza",
"Avventura","Romantico",
"Animazione", "Documentario"]

for element in list_fr:
    colonna_genere[element] =choice(list_genere)

for element in list_br:
    colonna_genere[element] =choice(list_genere)

In [ ]:
data = {"paesi": colonna_country, "genere":colonna_genere}

df = pd.DataFrame(data)

df

In [ ]:
# Raggruppa i dati per paese e genere e conta le occorrenze
country_genre_counts = df.groupby(['paesi', 'genere'])
dizionario = {}
for element in country_genre_counts:
    dizionario[element[0][0]]= dizionario.setdefault(element[0][0],{})
    dizionario[element[0][0]][element[0][1]]= len(element[1])

generi = df['genere'].unique()

dizionario

In [5]:
for element in dizionario:
    for ele in generi:
        dizionario[element][ele]= dizionario[element].setdefault(ele,0)

In [ ]:
dizionario2 ={}
list_stati_ord =[]
for element in dizionario:
    
    list_stati_ord.append(element)
    for ele in dizionario[element]:
        dizionario2[ele]= dizionario2.setdefault(ele,[])
        dizionario2[ele].append(dizionario[element][ele])
df2 = pd.DataFrame(dizionario2, index=list_stati_ord)

df2

In [ ]:
import matplotlib.pyplot as plt

plt.figure(figsize=(10,8))
for num in range(len(df2.index)):
    x = df2.iloc[num]
    plt.subplot(2, 2, 1) #n rows, n columns, id subplot
    plt.bar(x.index,x)
    plt.xticks(rotation=50)

plt.show()

In [ ]:
plt.figure(figsize=(10,45))
iter =1
for num in range(len(df2.index)):
    x = df2.iloc[num]
    plt.subplot(5, 2, iter).set_title(df2.index[num]) #n rows, n columns, id subplot
    plt.bar(x.index,x)
    plt.xticks(rotation=47)
    iter +=1

plt.show()