# Ripasso iniziale

In [ ]:
import pandas as pd

datas = {'Nome':['Aldo', 'Giovanni', 'Giacomo'],
         'Età':[10,18,28]}

dataframe = pd.DataFrame(datas)
print(dataframe)

In [ ]:
df_olders = dataframe[dataframe['Età'] > 20]
df_olders

In [ ]:
dataframe['Maggiorenne'] = dataframe['Età'] >= 18
dataframe

In [ ]:
import numpy as np
datas = {'Nome':['Aldo', 'Giovanni', 'Giacomo', 'Alessandro', 'Aldo'],
         'Età':[10,18,28, np.nan, 10],
         'Città':['Bologna', 'Bologna', 'Bologna', 'Bologna', 'Bologna'] }
df = pd.DataFrame(datas)
df.dropna()

In [ ]:
df = df.drop_duplicates()
df

In [1]:
import sklearn
print(sklearn.__version__)

1.5.1

# Esercizio 1

Dataset: Utilizzare un dataset di esempio che include le seguenti informazioni su
un gruppo di persone: Nome, Età, Città e Salario. 



Caricare i dati in un DataFrame autogenerandoli casualmente .

In [94]:
import pandas as pd
import numpy as np
import random

names = ['Giuseppe', 'Aldo', 'Alex', 'Marco', 'Mirko', 'Chiara', 'Sara', 'Elisa', 'Giuseppina']
cities = ['Roma', 'Bologna', 'Trento', 'Milano', 'Cosenza', 'Taranto', 'Latina', 'Torino', 'Genova', np.nan]

n = 250000 #numero di righe

ages = np.random.randint(14,70, n)

salaries = np.random.randint(3000, 3500, 200000) #solo 200000, il resto sarà nan
null_salaries = np.array([np.nan for _ in range(n-200000)])

data_names = [random.choice(names) for _ in range(n)]
data_cities = [random.choice(cities) for _ in range(n)]


salaries = np.concatenate([salaries, null_salaries])

In [95]:
datas = {'Nomi': data_names,
         'Città': data_cities,
         'Età': ages,
         'Salario': salaries}

df = pd.DataFrame(datas)

Visualizzare le prime e le ultime cinque righe del DataFrame.

In [ ]:
df.head()

In [ ]:
df.tail()

Visualizzare il tipo di dati di ciascuna colonna.

In [ ]:
df.dtypes

Calcolare statistiche descrittive di base per le colonne numeriche (media,
mediana, deviazione standard)

In [ ]:
df.describe()

In [ ]:
mediana_età = df['Età'].median()
mediana_salario = df['Salario'].median()
print('Mediana età:', mediana_età)
print('Mediana salario:', mediana_salario)

Identificare e rimuovere eventuali duplicati

In [ ]:
df.duplicated()

In [ ]:
df.drop_duplicates()
df.tail()

Gestire i valori mancanti sostituendoli con la mediana della rispettiva
colonna.

In [ ]:
df.isnull()

In [ ]:
df.isnull().sum()

In [ ]:
df['Città'].mode()[0]

In [ ]:
df['Salario'].fillna(df['Salario'].median(), inplace=True)
df['Città'].fillna(df['Città'].mode()[0], inplace = True)

In [ ]:
df.isnull().sum()

In [ ]:
df.tail()

Aggiungere una nuova colonna chiamata "Categoria Età" che classifica le
persone come "Giovane", "Adulto" o "Senior" basandosi sull'età (es., 0-18
anni: Giovane, 19-65 anni: Adulto, oltre 65 anni: Senior).

In [82]:
def categoria_anni(età):
    if età < 18:
        return 'Giovane'
    elif età < 65:
        return 'Adulto'
    else:
        return 'Senior'

In [ ]:
df['Categoria Età'] = df['Età'].apply(categoria_anni)
df.head()

Salvare il DataFrame pulito in un nuovo file CSV.

In [108]:
df.to_csv('salari.csv', index = False)